body {
    background-color: #A04A73;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.tab_contents {
	width: 100%;
	padding: 30px;
	margin: 20px auto;
}

.tab_wrap {
	width: 50%;
	margin: 50px auto;
	opacity: 0.8;
}
@media screen and (max-width:900px) {
	.tab_wrap {
		width: 100%;
		margin: 0 auto;
		opacity: 0.8;
	}
}

.tab_lab1, .tab_lab2, .tab_lab3 {
	background: #242424;
	color: #fff;
	padding: 15px;
}

#tab2:checked~.tab_lab2 {
	background: #dcdc3d;
	color: #242424;
}
#tab3:checked~.tab_lab3 {
	background: #639aa4;
	color: #242424;
}

#tab1:checked~.panels #area1 {
	display: block;
}
#tab2:checked~.panels #area2 {
	display: block;
	background: #dcdc3d;
}
#tab3:checked~.panels #area3 {
	display: block;
	background: #639aa4;
}

input[name="check"] {
	display: none;
}
.panel {
	display: none;
}

.panel_content {
	background-color: #fff;
	width: 100%;
}

.button009 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
}
.button009 a:hover {
    background: #313131;
    color: #FFF;
}
